/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;
h2{@apply text-xl sm:text-[20px] md:text-3xl font-semibold mb-3}
h3{@apply text-lg sm:text-xl md:text-[20px] font-semibold mb-3}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper{
  margin-bottom: 0 !important;
}
.mat-tab-group .mat-tab-header .mat-tab-label-container {
  padding: 0 !important;
}
body.light .mat-elevation-z4, body .light .mat-elevation-z4{
  box-shadow: none;
}
.mat-tab-header-pagination{
  min-width: 15px !important;
}
.mat-radio-container,.mat-radio-outer-circle,.mat-radio-inner-circle{
  width: 15px !important;
  height: 15px !important;
}
.mat-radio-label-content{padding-left: 4px !important;}
.mat-tab-group .mat-tab-body-content{padding: 24px 0 0 !important;}
