<div class="flex flex-col max-w-xl md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">New Message</div>
        <button
            mat-icon-button
            [tabIndex]="-1"
            (click)="close()"
            >
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <div class="flex flex-wrap">
            <mat-form-field class="fuse-mat-dense w-full">
                <mat-label class="flex items-center text-sm">
                    <span class="text-red-600 text-sm inline-block mr-0.5">*</span>
                    Description
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="fuse-mat-textarea w-full">
                <mat-label class="text-sm">Long Description</mat-label>
                <textarea matInput [rows]="3" matTextareaAutosize></textarea>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-full">
                <mat-label class="flex items-center text-sm">
                    <span class="text-red-600 text-sm inline-block mr-0.5">*</span>
                    Rate - USD <small> (Base Currency)</small>
                </mat-label>
                <input type="number" matInput>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-full md:w-1/2 sm:pr-2">
                <mat-label class="text-sm">Tax 1</mat-label>
                <mat-select [placeholder]="'Tax'" [value]="'Tax-1'">
                    <mat-option value="Tax-1">No Tax</mat-option>
                    <mat-option value="Tax-2">Tax2</mat-option>
                    <mat-option value="Tax-2">Tax3</mat-option>
                    <mat-option value="Tax-3">Tax4</mat-option>
                    <mat-option value="Tax-3">Tax5</mat-option>
                    <mat-option value="Tax-3">Tax6</mat-option>
                    <mat-option value="Tax-3">Tax7</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-full md:w-1/2 sm:pl-2">
                <mat-label class="text-sm">Tax 2</mat-label>
                <mat-select [placeholder]="'Tax'" disabled="">
                    <mat-option value="Tax-1">No Tax</mat-option>
                    <mat-option value="Tax-2">Tax2</mat-option>
                    <mat-option value="Tax-2">Tax3</mat-option>
                    <mat-option value="Tax-3">Tax4</mat-option>
                    <mat-option value="Tax-3">Tax5</mat-option>
                    <mat-option value="Tax-3">Tax6</mat-option>
                    <mat-option value="Tax-3">Tax7</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-full md:w-1/2 sm:pr-2">
                <mat-label class="text-sm">Unit</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-full md:w-1/2 sm:pl-2">
                <mat-label class="text-sm">Item Group</mat-label>
                <mat-select [placeholder]="'Item'">
                    <mat-option value="Item-1">Nothing Selected</mat-option>
                    <mat-option value="Item-2">Item2</mat-option>
                    <mat-option value="Item-2">Item3</mat-option>
                    <mat-option value="Item-3">Item4</mat-option>
                    <mat-option value="Item-3">Item5</mat-option>
                    <mat-option value="Item-3">Item6</mat-option>
                    <mat-option value="Item-3">Item7</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="flex items-center justify-end mt-4 sm:mt-0 space-x-4">
            <!-- Discard -->
            <button
                class="ml-auto sm:ml-0"
                mat-stroked-button 
                (click)="close()"
                >
                Close
            </button>
            <!-- Send -->
            <button
                class="order-first sm:order-last"
                mat-flat-button
                [color]="'primary'">
                Save
            </button>
        </div>
    </form>
</div>
