<div class="flex flex-col max-w-xl md:min-w-160 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
      <div class="text-lg font-medium">Edit Payment Mode</div>
      <button
          mat-icon-button
          [tabIndex]="-1"
          (click)="close()"
          >
          <mat-icon
              class="text-current"
              [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
  </div>

  <!-- Compose form -->
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto space-y-4">
      <div class="w-full">
          <mat-form-field class="fuse-mat-dense w-full">
              <mat-label class="block w-full font-semibold dark:text-white/70 pb-1">
                  <span class="text-red-600 text-sm inline-block mr-0.5">*</span>
                  Payment Mode Name
              </mat-label>
              <input matInput type="number">
          </mat-form-field>
      </div>
      <div class="w-full">
          <mat-form-field class="fuse-mat-textarea w-full">
              <mat-label class="text-sm">Bank Accounts / Description</mat-label>
              <textarea matInput [rows]="5" matTextareaAutosize placeholder="Bank Accounts / Description"></textarea>
          </mat-form-field>
      </div>
      <div class="w-full">
        <div class="flex flex-col border-b pb-5">
          <div class="flex flex-col">
            <mat-checkbox class="mb-2" [color]="'primary'">Active</mat-checkbox>
            <mat-checkbox class="mb-2" [color]="'primary'">Show Bank Accounts / Description on Invoice PDF</mat-checkbox>
            <mat-checkbox [color]="'primary'">Selected by default on invoice</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div class="flex flex-col">
          <div class="flex flex-col">
            <mat-checkbox class="mb-2" [color]="'primary'">Invoices Only</mat-checkbox>
            <mat-checkbox class="mb-2" [color]="'primary'">Expenses Only</mat-checkbox>
          </div>
        </div>
      </div>
      
      <div class="flex items-center justify-end mt-4 sm:mt-0 space-x-4">
          <!-- Discard -->
          <button
              class="ml-auto sm:ml-0 rounded-md"
              mat-stroked-button 
              (click)="close()"
              >
              Close
          </button>
          <!-- Send -->
          <button
              class="order-first sm:order-last rounded-md"
              mat-flat-button
              [color]="'primary'">
              Save
          </button>
      </div>
  </form>
</div>
