<div class="flex flex-col w-full sm:absolute sm:inset-0 sm:overflow-hidden">

    <div class="flex w-full sm:h-full">

        <!-- Drawer -->
        <div class="w-1/4 dark:bg-gray-900 overflow-auto" #drawer>
            <!-- Header -->
            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight leading-none">Settings</div>
                <!-- Close button -->
                <button><mat-icon svgIcon="heroicons_outline:x"></mat-icon></button>
            </div>
            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b overflow-y-auto">
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            General
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Company Information
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Localization
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Email
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Finance
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Subscription
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Payment Gateways
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Customers
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Task
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Support
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Leads
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Calender
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            SMS
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            PDF
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            E-Sign
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Cron Job
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Tags
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Pusher.com
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Google
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Misc
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Drawer content -->
        <div class="w-3/4 flex flex-col">

            <!-- Main -->
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-10 overflow-y-auto" *ngIf="false">
                <div class="text-4xl font-extrabold tracking-tight leading-none">General</div>
                <!-- General -->
                <div class="general pt-5">
                    <div class="w-full bg-white rounded-xl p-6">
                        <!-- Form -->
                        <form class="space-y-5">
                            <!-- Section -->
                            <div class="w-full">
                                <span class="block text-sm">Company Logo</span>
                                <input type="file" name="company_logo" id="company_logo" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                            </div>
                            <div class="w-full">
                                <span class="block text-sm">Company Logo dark</span>
                                <input type="file" name="company_logo_dark" id="company_logo_dark" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                            </div>
                            <div class="w-full">
                                <span class="block text-sm">Favicon</span>
                                <input type="file" name="favivon" id="favivon" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                            </div>
                            <div class="w-full">
                                <mat-form-field class="w-full">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field class="w-full mb-0">
                                    <mat-label>Company Domain Name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <span class="mb-2">RTL Admin Area (Right to Left)</span>
                                <mat-radio-group class="flex space-x-3" [color]="'primary'" [value]="'Yes'">
                                    <mat-radio-button [value]="'Yes'"> 
                                        Yes
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'No'">
                                        No
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <span class="mb-2">RTL Customers Area (Right to Left)</span>
                                <mat-radio-group class="flex space-x-3" [color]="'primary'" [value]="'Yes'">
                                    <mat-radio-button [value]="'Yes'"> 
                                        Yes
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'No'">
                                        No
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="w-full">
                                <mat-form-field class="w-full">
                                    <mat-label>Allowed file types</mat-label>
                                    <input matInput placeholder=".png,.jpg,.pdf,.doc,.docx,.xls,.xlsx,.zip,.rar,.txt">
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-10 overflow-y-auto" *ngIf="false">
                <div class="text-4xl font-extrabold tracking-tight leading-none">Company Information</div>
                <!-- Company Information -->
                <div class="company_information pt-5">
                    <div class="w-full space-y-5">
                        <p class="w-full text-sm">These information will be displayed on invoices/estimates/payments and other PDF documents where company info is required</p>
                        <!-- Form -->
                        <div class="w-full bg-white rounded-xl p-6">
                            <form>
                                <!-- Section -->
                                <div class="w-full">
                                    <mat-form-field class="w-full">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                    <div class="flex">
                                        <mat-form-field class="fuse-mat-textarea flex-auto">
                                            <mat-label>Address</mat-label>
                                            <textarea matInput></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <div class="flex flex-col gt-md:flex-row">
                                        <mat-form-field class="flex-auto gt-md:pr-3">
                                            <mat-label>City</mat-label>
                                            <input matInput>
                                            <mat-icon
                                                class="icon-size-5"
                                                matSuffix
                                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-md:pl-3">
                                            <mat-label>State</mat-label>
                                            <input matInput>
                                            <mat-icon
                                                class="icon-size-5"
                                                matSuffix
                                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <mat-form-field class="w-full">
                                        <mat-label>Country code</mat-label>
                                        <input
                                            matInput
                                            maxlength="4"
                                            #countryCode>
                                        <mat-hint align="end">{{countryCode.value.length}} / 4</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                    <mat-form-field class="w-full">
                                        <mat-label>Zip code</mat-label>
                                        <input
                                            matInput
                                            maxlength="5"
                                            #zipCode>
                                        <mat-hint align="end">{{zipCode.value.length}} / 6</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                    <div class="flex">
                                        <mat-form-field class="flex-auto">
                                            <mat-label>Phone</mat-label>
                                            <input
                                                matInput
                                                maxlength="10"
                                                #phone>
                                            <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
                                            <mat-icon
                                                class="icon-size-5"
                                                matSuffix
                                                [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <mat-form-field class="w-full">
                                        <mat-label>VAT Number</mat-label>
                                        <input
                                            matInput
                                            maxlength="15"
                                            #vat_number>
                                        <mat-hint align="end">{{vat_number.value.length}} / 15</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                    <div class="flex">
                                        <mat-form-field class="fuse-mat-textarea flex-auto">
                                            <mat-label>Company Information</mat-label>
                                            <textarea matInput></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-10 overflow-y-auto" *ngIf="false">
                <div class="text-4xl font-extrabold tracking-tight leading-none">Localization</div>
                <!-- localization -->
                <div class="localization">
                    <div class="w-full bg-white rounded-xl p-6 mt-5">
                        <!-- Form -->
                        <form>
                            <div class="w-full">
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Date Formate</mat-label>
                                        <mat-select>
                                            <mat-option value="d-m-y">d-m-y</mat-option>
                                            <mat-option value="d/m/y">d/m/y</mat-option>
                                            <mat-option value="d.m.y">d.m.y</mat-option>
                                            <mat-option value="m/d/y">m/d/y</mat-option>
                                            <mat-option value="m-d-y">m-d-y</mat-option>
                                            <mat-option value="m.d.y">m.d.y</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="w-full">
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Time Formate</mat-label>
                                        <mat-select>
                                            <mat-option value="24-hours">24 hours</mat-option>
                                            <mat-option value="12-hours">12 hours</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="w-full">
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Default Timezone</mat-label>
                                        <mat-select>
                                            <mat-option value="asia-kolkata">Asia/Kolkata</mat-option>
                                            <mat-option value="asia-macau">Asia/Macau</mat-option>
                                            <mat-option value="asia-Kuwait">Asia/Kuwait</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div class="w-full">
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Default Language</mat-label>
                                        <mat-select>
                                            <mat-option value="english">Enhlish</mat-option>
                                            <mat-option value="hindi">हिन्दी</mat-option>
                                            <mat-option value="gujarati">ગુજરાતી</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div class="w-full">
                                <div class="flex flex-col my-4 gt-sm:mt-0 gt-sm:ml-16">
                                    <span class="mb-2">Disable Languages</span>
                                    <mat-radio-group class="flex space-x-3" [color]="'primary'" [value]="'Yes'">
                                        <mat-radio-button [value]="'Yes'"> 
                                            Yes
                                        </mat-radio-button>
                                        <mat-radio-button [value]="'No'">
                                            No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="w-full">
                                <div class="flex flex-col mt-6 mb-4 gt-sm:mt-0 gt-sm:ml-16">
                                    <div class="flex items-center mb-2">
                                        <p class="relative group">
                                            <mat-icon svgIcon="heroicons_solid:question-mark-circle" class="icon-size-4 h-full"></mat-icon>
                                            <span class="absolute bottom-full left-0 min-w-60 w-full bg-gray-900 text-white text-sm rounded-md hidden group-hover:block p-2">If this options is set to yes and eq. the system default language is English and client have setup language french the pdf documents will be outputted in the client language</span>
                                        </p>
                                        <span>Output client PDF documents from admin area in client language</span>
                                    </div>
                                    <mat-radio-group class="flex space-x-3" [color]="'primary'" [value]="'Yes'">
                                        <mat-radio-button [value]="'Yes'"> 
                                            Yes
                                        </mat-radio-button>
                                        <mat-radio-button [value]="'No'">
                                            No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-10 overflow-y-auto" *ngIf="false">
                <div class="text-4xl font-extrabold tracking-tight leading-none">Email</div>
                <!-- Email -->
                <div class="email">
                    <div class="bg-white rounded-xl p-6 mt-5">
                        <div class="py-6">
                            <div class="-m-6">
                                <mat-tab-group animationDuration="0ms">
                                    <mat-tab label="SMTP Settings">
                                        <p class="text-xl">SMTP Settings <span class="text-sm">Setup main email</span></p>
                                        <div class="w-full">
                                            <div class="flex flex-col my-4 gt-sm:mt-0 gt-sm:ml-16">
                                                <span class="mb-2">Mail Engine</span>
                                                <mat-radio-group class="flex space-x-3 " [color]="'primary'" [value]="'Yes'">
                                                    <mat-radio-button [value]="'php-mailer'"> 
                                                        PHPMailer
                                                    </mat-radio-button>
                                                    <mat-radio-button [value]="'code-igniter'">
                                                        CodeIgniter
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <div class="flex flex-col my-4 gt-sm:mt-0 gt-sm:ml-16">
                                                <span class="mb-2">Email Protocol</span>
                                                <mat-radio-group class="flex space-x-3" [color]="'primary'" [value]="'Yes'">
                                                    <mat-radio-button [value]="'smtp'"> 
                                                        SMTP
                                                    </mat-radio-button>
                                                    <mat-radio-button [value]="'send-mail'">
                                                        Sendmail
                                                    </mat-radio-button>
                                                    <mat-radio-button [value]="'mail'">
                                                        Mail
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <span class="block pb-1">Email</span>
                                            <div class="flex">
                                                <mat-form-field class="flex-auto">
                                                    <input
                                                        matInput
                                                        [placeholder]="'Email Address'">
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        matPrefix
                                                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <span class="block pb-1">Email Charset</span>
                                            <div class="flex">
                                                <mat-form-field class="flex-auto">
                                                    <input
                                                        matInput
                                                        [placeholder]="'utf-8'">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <span class="block pb-1">BCC All Emails To</span>
                                            <mat-form-field class="w-full">
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="w-full">
                                            <span class="block pb-1">Email Signature</span>
                                            <div class="flex">
                                                <mat-form-field class="fuse-mat-textarea flex-auto">
                                                    <textarea matInput></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
                                                <mat-label>Predefined Header</mat-label>
                                                <textarea matInput>
                                                </textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="w-full">
                                            <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full mt-4">
                                                <mat-label>Predefined Footer</mat-label>
                                                <textarea matInput></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="w-full">
                                            <span class="block text-xl font-medium pt-4">Send Test Email</span>
                                            <p class="block pb-1">Send test email to make sure that your SMTP settings is set correctly.</p>
                                            <div class="flex">
                                                <mat-form-field class="flex-auto">
                                                    <input
                                                        matInput
                                                        [placeholder]="'Email Address'">
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        matPrefix
                                                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Email Queue">
                                        <span class="block text-primary font-medium bg-[#EEF2FF] p-5">This feature requires a properly configured cron job. Before activating the feature, make sure that the cron job is configured as explanation in the documentation.</span>
                                        <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                            <div class="flex items-center mb-2">
                                                <p class="relative group">
                                                    <mat-icon svgIcon="heroicons_solid:question-mark-circle" class="icon-size-4 h-full"></mat-icon>
                                                    <span class="absolute bottom-full left-0 min-w-60 w-full bg-gray-900 text-white text-sm rounded-md hidden group-hover:block p-2">To speed up the emailing process, the system will add the emails in queue and will send them via cron job, make sure that the cron job is properly configured in order to use this feature.</span>
                                                </p>
                                                <span>Enable Email Queue</span>
                                            </div>
                                            <mat-radio-group class="flex space-x-3" [color]="'primary'" [value]="'Yes'">
                                                <mat-radio-button [value]="'Yes'"> 
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button [value]="'No'">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                            <div class="flex items-center mb-2">
                                                <p class="relative group">
                                                    <mat-icon svgIcon="heroicons_solid:question-mark-circle" class="icon-size-4 h-full"></mat-icon>
                                                    <span class="absolute bottom-full left-0 min-w-80 w-full bg-gray-900 text-white text-sm rounded-md hidden group-hover:block p-2">Most likely you will encounter problems with the email queue if the system needs to add big files to the queue. If you plan to use this option consult with your server administrator/hosting provider to increase the max_allowed_packet and wait_timeout options in your server config, otherwise when this option is set to yes the system won't add emails with attachments in the queue and will be sent immediately.</span>
                                                </p>
                                                <span>Do not add emails with attachments in the queue?</span>
                                            </div>
                                            <mat-radio-group class="flex space-x-3" [color]="'primary'" [value]="'Yes'">
                                                <mat-radio-button [value]="'Yes'"> 
                                                    Yes
                                                </mat-radio-button>
                                                <mat-radio-button [value]="'No'">
                                                    No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="w-full">
                                            <span class="block text-xl font-medium pt-4">Email Queue</span>
                                            
                                            <div class="flex space-x-2">
                                                <mat-form-field class="w-fit">
                                                    <mat-select>
                                                        <mat-option value="10">10</mat-option>
                                                        <mat-option value="25">25</mat-option>
                                                        <mat-option value="50">50</mat-option>
                                                        <mat-option value="100">100</mat-option>
                                                        <mat-option value="all">All</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="w-fit">
                                                    <mat-select>
                                                        <mat-option value="excel">Excel</mat-option>
                                                        <mat-option value="cvs">CVS</mat-option>
                                                        <mat-option value="pdf">PDF</mat-option>
                                                        <mat-option value="print">Print</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-10 overflow-y-auto">
                <!-- Finance -->
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="General">
                        <h2 class="text-2xl font-semibold">General</h2>
                        <span>General Settings</span>
                        <div class="flex space-x-4 mt-5">
                            <mat-form-field class="flex-auto">
                                <mat-label>Decimal Separator</mat-label>
                                <mat-select>
                                    <mat-option value="dot">.</mat-option>
                                    <mat-option value="coma">,</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Thousand Separator</mat-label>
                                <mat-select>
                                    <mat-option value="dot">.</mat-option>
                                    <mat-option value="coma">,</mat-option>
                                    <mat-option value="apostrophe">' apostrophe</mat-option>
                                    <mat-option value="none">None</mat-option>
                                    <mat-option value="space">Space</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full ">
                            <div class="flex items-center mb-2">
                                <p class="relative group">
                                    <mat-icon svgIcon="heroicons_solid:question-mark-circle" class="icon-size-4 h-full"></mat-icon>
                                    <span class="absolute bottom-full left-0 min-w-60 w-full bg-gray-900 text-white text-sm rounded-md hidden group-hover:block p-2">If this options is set to yes and eq. the system default language is English and client have setup language french the pdf documents will be outputted in the client language</span>
                                </p>
                                <span>Number padding zero's for prefix formats</span>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Invoices">Content 2</mat-tab>
                    <mat-tab label="Creadit Notes">Content 3</mat-tab>
                    <mat-tab label="Estimates">Content 3</mat-tab>
                    <mat-tab label="Proposals">Content 3</mat-tab>
                </mat-tab-group>
            </div>

        </div>

    </div>

</div>
