<div class="flex flex-col w-full sm:absolute sm:inset-0 sm:overflow-hidden">

    <div class="flex w-full sm:h-full">

        <!-- Drawer -->
        <div class="w-1/4 dark:bg-gray-900 overflow-auto" #drawer>
            <!-- Header -->
            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight leading-none">Settings</div>
                <!-- Close button -->
                <button><mat-icon svgIcon="heroicons_outline:x"></mat-icon></button>
            </div>
            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b overflow-y-auto">
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            General
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Company Information
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Localization
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Email
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Finance
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Subscription
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Payment Gateways
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Customers
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Task
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Support
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Leads
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Calender
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            SMS
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            PDF
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            E-Sign
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Cron Job
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Tags
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Pusher.com
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Google
                        </div>
                    </div>
                </div>
                <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover bg-primary-50 dark:bg-hover">
                    <div class="ml-3">
                        <div class="font-medium leading-6 text-primary dark:text-primary-500">
                            Misc
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Drawer content -->
        <div class="w-3/4 flex flex-col">

            <!-- Main -->
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12 overflow-y-auto">

                <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight leading-none">General</div>
                    <!-- Close button -->
                    <div class="lg:hidden"><mat-icon svgIcon="heroicons_outline:menu"></mat-icon></div>
                </div>
                <!-- Load settings panel -->
                <div class="selectedPanel">
                    <!-- General -->
                    <div class="general">
                        <div class="w-full">
                            <!-- Form -->
                            <form class="space-y-5">
                                <!-- Section -->
                                <div class="w-full">
                                    <span class="block text-sm">Company Logo</span>
                                    <input type="file" name="company_logo" id="company_logo" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                                </div>
                                <div class="w-full">
                                    <span class="block text-sm">Company Logo dark</span>
                                    <input type="file" name="company_logo_dark" id="company_logo_dark" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                                </div>
                                <div class="w-full">
                                    <span class="block text-sm">Favicon</span>
                                    <input type="file" name="favivon" id="favivon" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                                </div>
                                <div class="w-full">
                                    <span class="block text-sm">Company Name</span>
                                    <input type="text" name="company_name" id="company_name" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                                </div>
                                <div class="w-full">
                                    <span class="block text-sm">Company Main Domain</span>
                                    <input type="text" name="Company_main_domain" id="Company_main_domain" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2">
                                </div>
                                <div class="w-full">
                                    <span class="block text-sm">RTL Admin Area(Right to Left)</span>
                                    <div class="flex border border-[#CBD5E1] rounded-md space-x-4 px-3 py-2 mt-2">
                                        <div class="flex items-center">
                                            <input type="radio" name="rtl_admin" id="rtl_admin_yes">
                                            <label for="rtl_admin_yes" class="pl-2">Yes</label>
                                        </div>
                                        <div class="flex items-center">
                                            <input type="radio" name="rtl_admin" id="rtl_admin_no">
                                            <label for="rtl_admin_no" class="pl-2">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <span class="block text-sm">RTL Customers Area(Right to Left)</span>
                                    <div class="flex border border-[#CBD5E1] rounded-md space-x-4 px-3 py-2 mt-2">
                                        <div class="flex items-center">
                                            <input type="radio" name="rtl_customers" id="rtl_customers_yes">
                                            <label for="rtl_customers_yes" class="pl-2">Yes</label>
                                        </div>
                                        <div class="flex items-center">
                                            <input type="radio" name="rtl_customers" id="rtl_customers_no">
                                            <label for="rtl_customers_no" class="pl-2">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <span class="block text-sm">Allowed file types</span>
                                    <input type="text" name="allowed_file_type" id="allowed_file_type" class="block w-full border border-[#CBD5E1] rounded-md px-3 py-2 mt-2" placeholder=".png,.jpg,.pdf,.doc,.docx,.xls,.xlsx,.zip,.rar,.txt">
                                </div>
                            </form>
                        </div>
                        <!-- <settings-account></settings-account> -->
                    </div>
                    <!-- Security -->
                    <div class="security">
                        <!-- <settings-security></settings-security> -->
                    </div>
                    <!-- Plan & Billing -->
                    <div class="plan-billing">
                        <!-- <settings-plan-billing></settings-plan-billing> -->
                    </div>
                    <!-- Notifications -->
                    <div class="notifications">
                        <!-- <settings-notifications></settings-notifications> -->
                    </div>
                    <!-- Team -->
                    <div class="team">
                        <!-- <settings-team></settings-team> -->
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
